<a href="https://colab.research.google.com/github/AnaLuisaGR/Unidad_1-Actividad_1.ipynb/blob/main/ejemplos_resueltos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
precio_de_cuarto = 1500
numero_huespedes = 3
porcentaje_impuesto = 16

impuesto = precio_de_cuarto * porcentaje_impuesto / 100
total = precio_de_cuarto + impuesto
precio_por_huesped = total / numero_huespedes

print(f"precio total del cuarto: {total}, cada huesped pagará: {precio_por_huesped} pesos")

precio total del cuarto: 1740.0, cada huesped pagará: 580.0 pesos

In [14]:
def t_convert(t):
  resultado = (t * 9/5) + 32
  return resultado

print(t_convert(25))
print(t_convert(36))

77.0
96.8

In [ ]:
def imprime_separador():

In [20]:
def t_convert(t):
  resultado = (t * 9/5) + 32
  return resultado

print(t_convert(float(input("Escribe T en Celsius: "))))
# se aprieta enter en la cajita, ej 44 enter, para volver a abrir la cajita se aprieta el triangulito de arriba

Escribe T en Celsius: 44
111.2

In [21]:
print((6*3 >= 18) and (9+9 <= 36/2))

True

In [23]:
print("Nairobi" < "Milan" and "Nairobi" > "Hanoi")

False

In [24]:
contador =0
while contador < 10:
  print(contador)
  contador += 1

0
1
2
3
4
5
6
7
8
9

In [26]:
resultado = 100
while resultado > 3:
  print(resultado)
  resultado = resultado / 2

100
50.0
25.0
12.5
6.25
3.125